/2. Programación Estructurada/JavaApplication4/nbproject/private/
/2. Programación Estructurada/Programación Estructurada/nbproject/private/
/2. Programación Estructurada/Prueba/nbproject/private/
/2. Programación Estructurada/Prueba/build/
